.idea
.env*

appsettings.Development.json
docker-compose.Development.yml

bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
node_modules
*.DotSettings.user
.next/
out/

.DS_Store
*.pem

.nx/cache
.nx/workspace-data


.nx/migrate-runs